
<div class = "wrapper">
	<div class="container">
	
	<form action="/ask" method="get">
	  <label for="question"><h1>Speak to your coach</h1></label>

	  <div>
	  	<input type="text" id="question" name="query" placeholder="What is your question?">
	  	<input type="submit" class = "btn btn-success" value="Go on!">
	  </div>

	</form>
	</div>
</div>